#navbar {
    background-color: #f8dfb9;
}

.logo {
    height: 70px;
    width: auto;
    object-fit: contain;
}

.hero {
    background-image: url("../img/merengue.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-color: #f8f5f1;
    color: #4b3f33;
}

/* INICIO TITULOS */

h1 {
  color: #d9b99b;
}

h2 {
  color: #c8ad7e;
}

h5 {
  color: #8b6b57;
}

/* FIN TITULOS */

/* INICIO IMAGENES TARJETAS CARRUSEL */

.product-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.object-top {
    object-position: 50% 20%;
}

.object-bottom {
    object-position: 50% 80%;
}

/* FIN IMAGENES TARJETAS CARRUSEL */

/* INICIO IMAGENES DETALLE PRODUCTOS */

#seccion-productos .card img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.product-img-square {
    width: 100%;
    max-width: 400px;  
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin: 0 auto;
}

.product-img-square img {
    width: 100%;
    height: 100%;
    object-fit: cover;      
    display: block;
}

.product-img-square-thumbnail {
    width: 50%;
    max-width: 80px;  
    aspect-ratio: 1 / 1;
}

.product-img-square-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;      
    display: block;
}

/* INICIO IMAGENES DETALLE PRODUCTOS */

/* INICIO BOTONES */

.btn,
#liveAlertBtn, .btnAgregar {
  background-color: #c1a489; 
  border: none;
  color: #fff;
}

.btn:hover,
#liveAlertBtn:hover, .btnAgregar:hover {
  background-color: #d9b99b; 
  color: #fff;
}

#botonVolver {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.3;
  cursor: pointer;
  display: none; /* Oculto al inicio */
  transition: opacity 0.3s ease;
}

#botonVolver:hover {
  opacity: 1;
}

/* FIN BOTONES */

.encabezado {
    margin-top: 100px;
}


.alert {
    background-color: #f8dfb9;
    color: #5a3e36;
    border: 1px solid #e2c7a3;
}

footer {
        margin-top: 20px;
        font-size: 0.9em;
        color: #7b6054; 
        text-align: center;
} 

